<title>表单元素</title>

<div class="layui-card layadmin-header">
    <script type="text/html" template>
        <div class="layui-breadcrumb" lay-filter="breadcrumb">
            <a lay-href="/cpa-task/taskpackageIndex">生产任务</a>
            <a><cite>人员评价</cite></a>
        </div>
    </script>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card layui-form" lay-filter="filter-form-all">
                <div class="layui-card-header">选择</div>
                <div class="layui-card-body layui-row layui-col-space10">
                    <div class="layui-card-body">
                      <div class="layui-btn-container">
                        <a href="#/cpa-task/evaluteList/show=fx" class="layui-btn layui-btn-fluid">带班评价</a>
                        <a href="#/cpa-task/evaluteList/show=weixiu" class="layui-btn layui-btn-fluid">放行评价</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>